@use "../styles/abstracts/variables/color" as *;
@use "../styles/abstracts/variables/basic" as *;
@use "../styles/base/reset" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* 頁尾區 */
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    /* 主軸方向:水平 */
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 70px;
    background-color: $color-primary-blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: $font-family-ch;
    font-size: $font-size-16;
    font-weight: 600;
    color: $color-primary-white;
    letter-spacing: 0.05rem;

    .logoFooter {
        .logoFooterImg {
            width: 80px;
            padding: 5px 0px;
        }

        .logoFooterText {
            width: 200px;
            padding-bottom: 15px;
        }
    }

    .articleFooter {
        li {
            margin-bottom: 15px;

            p {
                margin-bottom: 5px;
            }
        }

        .iconFooter {
            display: flex;

            img {
                width: 30px;
                margin-right: 5px;
            }
        }
    }
}