@use "../styles/abstracts/variables/color" as *;
@use "../styles/abstracts/variables/basic" as *;
@use "../styles/base/reset" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* 頁首區 */
#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 0 70px;
    font-family: $font-family-en;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;

    .logo {
        min-width: 100px;
    }


    .navigation {
        display: flex;

        .menu {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            padding: 0 20px;
        }

        /* Individual menu items (links) */
        a {
            position: relative;
            margin: 0;
            padding: 0 20px;
            transition: all 0.3s ease;
            text-decoration: none;
            /* Remove underline */
        }

        .a_about::after,
        .a_menu::after,
        .a_fresh::after,
        .a_store::after,
        .a_search::after {
            content: attr(data-title);
            position: absolute;
            left: 20%;
            top: 10%;
            font-size: 0.875rem;
            color: transparent;
            transition: color 0.2s;
        }

        /* Hover effects */
        a:hover::after {
            color: $color-sub-black;
        }

        a:hover {
            color: transparent;
        }

        .a_about::after {
            content: "關於放飲";
        }

        .a_menu::after {
            content: "飲品菜單";
        }

        .a_fresh::after {
            content: "嚴選食材";
        }

        .a_store::after {
            content: "門市據點";
        }

        .a_search::after {
            content: "訂單查詢";
        }
    }


    .funLab {
        margin-left: 20px;
        width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2.5px rgba(0, 0, 0, 0.8) solid;
        border-radius: 30px;
        background-color: $color-sub-yellow;
        transition: 0.3s;

        img {
            width: 43px;
        }

        &:hover {
            background-color: $color-primary-white;
            color: $color-sub-yellow;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        }
    }
}

// }

//電腦斷點 => 漢堡按鈕消失
@media ($mediaLg) {
    #topBar {
        .hamburger {
            display: none
        }
    }
}

//平板斷點 => 加上漢堡按鈕以及更改位置
@media ($mediaMd) {
    #topBar {
        align-items: start;
        padding: 20px;

        .logo {
            margin-top: 13px; //對齊漢堡按鈕
            margin-left: 15px;
        }

        .navbar {
            display: flex;
            flex-direction: column; //調整直排
            align-items: flex-end;

            .hamburger {
                /*  修改button預設樣式  */
                background-color: transparent;
                border: none;

                //漢堡按鈕設計
                .Rotate.active {
                    transform: rotate(45deg);
                }

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                    stroke: #000;
                    stroke-width: 5.5;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 160;
                }

                .middle {
                    stroke-dasharray: 40 142;
                    transform-origin: 50%;
                    transition: transform 400ms;
                }

                .bottom {
                    stroke-dasharray: 40 85;
                    transform-origin: 50%;
                    transition: transform 400ms, stroke-dashoffset 400ms;
                }

                .active .top {
                    stroke-dashoffset: -64px;
                }

                .active .middle {
                    //stroke-dashoffset: -20px;
                    transform: rotate(90deg);
                }

                .active .bottom {
                    stroke-dashoffset: -64px;
                }

            }

            .navigation {
                opacity: 0; //初始不可見
                visibility: hidden; // 防止被點擊
                // display: none; // react => 使用visibility,不使用display
                flex-direction: column; //垂直排
                align-items: center;
                align-items: end; //原本置右
                border-radius: 10px;

                transition: opacity 0.8s ease, visibility 0.8s ease;

                &.show {
                    opacity: 1;
                    visibility: visible;
                    animation: show 1s both;
                }

                .menu {
                    flex-direction: column; //改成垂直排  
                    padding: 8px;
                    margin-bottom: 20px;

                    a {
                        margin: 10px;
                    }
                }
            }
        }
    }
}

//手機斷點 => logo尺寸
@media ($mediaSm) {
    #topBar {
        .logo {
            width: 100px;
        }

        .Rotate {
            width: 60px;
        }
    }
}