@use "src/styles/base/_reset.scss";
@use "src/styles/abstracts/_variables.scss" as *;
@use "src/styles/abstracts/_functions.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes goToFunlabAnime {
    100% {
        transform: rotate(360deg);
    }
}


/* 頁首 */
#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 0 70px;
    font-family: $font-family-en;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;

    .logo {
        min-width: 164px;
    }

    .navigation {

        display: flex;

        .menu {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            padding: 0 20px 0 20px;

            a {
                position: relative;
                margin: 0px;
                padding: 0px 20px 0px 20px;
                transition: $speed-fast;
            }

            .a_story::after {
                content: "關於放飲";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_story:hover::after {
                color: $color-sub-black;
            }

            .a_story:hover {
                color: transparent;
            }

            .a_menu::after {
                content: "飲品菜單";
                position: absolute;
                left: 18%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_menu:hover::after {
                color: $color-sub-black;
            }

            .a_menu:hover {
                color: transparent;
            }

            .a_fresh::after {
                content: "嚴選食材";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_fresh:hover::after {
                color: $color-sub-black;
            }

            .a_fresh:hover {
                color: transparent;
            }

            .a_store::after {
                content: "門市據點";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_store:hover::after {
                color: $color-sub-black;
            }

            .a_store:hover {
                color: transparent;
            }

            .a_search::after {
                content: "訂單查詢";
                position: absolute;
                left: 24%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_search:hover::after {
                color: $color-sub-black;
            }

            .a_search:hover {
                color: transparent;
            }

        }

        .funLab {
            margin-left: 20px;
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            background-color: $color-sub-yellow;
            transition: 0.3s;

            img {
                width: 43px;
            }

            &:hover {
                background-color: $color-primary-white;
                color: $color-sub-yellow;
                text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
            }
        }
    }
}