%box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%box-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
