@use "../../styles/base/reset";
@use "../../styles/abstracts/variables/" as *;
@use "../../styles/abstracts/function/" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet');

/*泡泡*/
.backgroundBubble {
    position: fixed;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

/*Page-title*/
header {
    .page-title {
        font-family: $font-family-en-title;
        color: $color-primary-blue;
        font-size: $font-size-96;
        text-align: center;
        margin: 160px 0 0 0;
    }
}

/*分組頁籤*/
.drinkList {
    display: flex;
    justify-content: center;
    margin: 60px 0;

    .drinkListTab {
        display: flex;

        a {
            display: inline-block;
            padding: 10px 18px;
            margin: 0 25px;
            font-size: $font-size-16;
            font-family: $font-family-ch ;
            font-weight: $font-weight-bold;
            text-decoration: none;
            border: 3px solid $color-sub-lightGray;
            border-radius: 53px;
            background-color: #fff;
            color: #333;
            transition: all 0.3s ease;

            &:hover {
                background-color: $color-primary-blue;
                color: $color-primary-white;
            }
        }
    }

    .drinkListTab a:target {
        background-color: #333;
        color: #fff;
        border-color: #333;
    }
}

/*內容區*/
main.ingredient-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tea,
.milk,
.fruit {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: auto;   
    column-gap: 20px;
    position: relative;
    padding: 110px 0;
    max-width: 814px;
}

.topping {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    margin-bottom: 230px;

    .top-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;
        column-gap: 20px;
        align-items: center;

        /* 垂直置中 */
        .showImg-right {
            grid-column: 4 / 5;
            /* 固定在第四欄 */
            position: relative;

            figure {
                clip-path: circle(50% at 50% 50%);
                height: 300px;
                width: 300px;
                position: absolute;
                right: -100px;
            }
        }

        .decorate-right {
            font-size: 79px;
            font-weight: 900;
            color: $color-primary-blue;
            -webkit-text-stroke: 1.5px #000;
            position: absolute;
            right: -80px;
            top: 0px;
            z-index: 7;

            figure {
                height: 200px;
                width: 200px;
                position: absolute;
                left: -60px;
                top: -40px;
            }
        }
    }

    .bottom-rows {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }
}



.showImg-left {
    width: 178px;
    height: 292px;
    position: relative;
    /* 給decorate定位用的 */
    figure {
        clip-path: circle(50% at 50% 50%);
        height: 300px;
        width: 300px;
        position: absolute;
        left: -100px;
        z-index: 6;
    }
}

.decorate-left {

    font-size: 79px;
    font-weight: 900;
    color: $color-primary-white;
    -webkit-text-stroke: 1.5px #000;
    position: absolute;
    left: -80px;
    top: 80px;
    z-index: 7;

    figure {
        height: 200px;
        width: 200px;
        position: absolute;
        left: -60px;
        top: -40px;
    }
}

.showImg-right {
    grid-column: 4 / 5;
    /* 第四欄 */
    grid-row: 1 / span 2;
    /* 跨越 2 行 */

    width: 178px;
    height: 292px;
    position: relative;
    /* 給decorate定位用的 */
    figure {
        clip-path: circle(50% at 50% 50%);
        height: 300px;
        width: 300px;
        position: absolute;
        right: -100px;
    }
}

.decorate-right {
    font-size: 79px;
    font-weight: 900;
    color: $color-primary-blue;
    -webkit-text-stroke: 1.5px #000;
    position: absolute;
    right: -80px;
    top: 80px;
    z-index: 7;

    figure {
        height: 200px;
        width: 200px;
        position: absolute;
        left: -60px;
        top: -40px;
    }
}

.ingredient {
    width: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;

    figure {
        clip-path: circle(50% at 50% 50%);
        height: 136px;
        width: 136px;
    }

    h2 {
        font-family: $font-family-ch;
        font-size: $font-size-24;
        font-weight: bold;
        padding: 18px 0;
    }

    P {
        font-family: $font-family-ch;
        font-size: $font-size-18;
        line-height: 28px;
    }
}

.up-icon {
    img {
        width: 10px;
        height: 10px;

    }
}

