#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 65px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 0;
}
html {
    scroll-behavior: smooth;
}