@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans+TC:wght@100..900&display=swap");
/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

/* RESET  END*/
#about .about-item, #about .about-item .about-content, #about2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#about-main {
  background-image: linear-gradient(white 60%, #D9E2FB 100%);
}

/* banner區 */
#about-banner {
  height: 100vh;
  position: relative;
}
#about-banner figure {
  height: 100%;
  width: 100%;
}
#about-banner figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#about-banner .about-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 10px;
  right: 70px;
}
#about-banner .about-title h1 {
  color: #FFF55F;
  text-shadow: 0 1px 0px rgba(207, 200, 0, 0.8);
}
#about-banner .about-title .ch {
  font-size: 4.5rem;
  font-weight: 800;
  font-family: "Noto Sans TC";
  color: #FFF55F;
  text-shadow: 0 1px 0px rgba(207, 200, 0, 0.8);
}
#about-banner .about-title .en {
  font-size: 6rem;
  font-family: "Notable";
  margin-top: -20px;
}

@media (max-width: 1023px) {
  #about-banner .about-title {
    right: 50px;
  }
}
@media (max-width: 640px) {
  #about-banner {
    height: 60vh;
  }
  #about-banner .about-title {
    right: 25px;
  }
  #about-banner .about-title .en {
    font-size: 3.5rem;
  }
  #about-banner .about-title .ch {
    font-size: 3rem;
  }
}
/* about區 */
#about {
  position: relative;
  background: linear-gradient(to bottom, #FFFFFF, #B3C7FD);
  overflow: hidden;
}
#about .about-item {
  padding: 60px;
  z-index: 999;
}
#about .about-item .about-content {
  width: 100%;
}
#about .about-item .about-content h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Noto Sans TC";
  margin: 50px 0;
  text-align: center;
  color: #5082FF;
}
#about .about-item .about-content p {
  font-size: 1rem;
  color: #7C7C7C;
  font-weight: 400;
  font-family: "Noto Sans TC";
  width: 60%;
  word-break: break-word;
  text-align: center;
}
#about .about-item .about-content .circleImage {
  width: 60%;
  margin: 50px 0 100px 0;
  min-width: 500px;
}
#about .marquee-container {
  z-index: 888;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* 隱藏超出的內容 */
  display: flex;
}
#about .marquee-container .marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
#about .marquee-container .marquee-content2 {
  display: inline-block;
  white-space: nowrap;
  animation: marquee2 20s linear infinite;
}
#about .marquee-container p {
  color: rgba(252, 251, 189, 0.372);
  font-size: 15rem;
  font-weight: 800;
  font-family: "Noto Sans TC";
}
#about .whiteBack {
  scale: 1.1;
  margin: -1px;
}
#about .graph-1 {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 13%;
  rotate: 35deg;
}
#about .graph-2 {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 10%;
}

@media (max-width: 640px) {
  #about .about-item {
    padding: 40px 20px;
  }
  #about .about-item .about-content h2 {
    font-size: 20px;
    margin: 30px 0;
  }
  #about .about-item .about-content p {
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  #about .about-item .about-content .circleImage {
    min-width: 280px;
    margin: 30px 0;
  }
  #about .marquee-container {
    top: 35%;
  }
  #about .marquee-container p {
    font-size: 11rem;
  }
  #about .graph-1 {
    display: none;
  }
  #about .graph-2 {
    display: none;
  }
}
/* about2區 */
#about2 {
  position: relative;
  padding: 20px;
  overflow: hidden;
}
#about2 .about2-item {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 60%;
  margin-bottom: 150px;
  z-index: 1;
}
#about2 .about2-item .photo1 img {
  transform: rotate(5deg);
  border-radius: 8px;
  min-width: 200px;
}
#about2 .about2-item .photo2 img {
  transform: rotate(-3deg);
  border-radius: 8px;
  min-height: 200px;
  object-fit: cover;
}
#about2 .about2-item h3 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans TC";
  color: #5082FF;
  margin-bottom: 10px;
}
#about2 .about2-item p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Noto Sans TC";
  color: #7C7C7C;
}
#about2 .about2-item .content1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 80px;
}
#about2 .about2-item .content2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 80px;
}
#about2 .graph-3,
#about2 .graph-4,
#about2 .graph-5,
#about2 .graph-6,
#about2 .graph-7 {
  position: absolute;
  z-index: 0;
}
#about2 .graph-3 {
  top: 0;
  left: -16%;
  width: 40%;
}
#about2 .graph-4 {
  bottom: 4%;
  right: -4%;
  width: 35%;
  overflow-x: hidden;
}
#about2 .graph-5 {
  top: 0;
  left: 7%;
  width: 15%;
  transform: rotate(125deg);
}
#about2 .graph-6 {
  bottom: -5%;
  right: 32%;
  opacity: 0.5;
}

@media (max-width: 1023px) {
  #about2 .about2-item {
    width: 80%;
  }
}
@media (max-width: 640px) {
  #about2 .about2-item {
    flex-direction: column;
    align-items: start;
    margin: 50px 0;
  }
  #about2 .about2-item h3 {
    font-size: 1.2rem;
  }
  #about2 .about2-item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 0.8rem;
  }
  #about2 .about2-item .content1 {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #about2 .about2-item .content2 {
    order: 1;
    /* content2 排在前面 */
    margin-left: 0px;
    margin-bottom: 30px;
  }
  #about2 .about2-item .photo2 {
    order: 2;
    /* figure 排到最後 */
  }
  #about2 .about2-item figure {
    width: 200px;
    height: 200px;
  }
  #about2 .about2-item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #about2 .graph-5 {
    display: none;
  }
}/*# sourceMappingURL=About.css.map */