@use "/src/styles/abstracts/variables/color" as *;
@use "/src/styles/abstracts/variables/basic" as *;
@use "/src/styles/base/reset" as *;

.drinkListTab {

    ul {
        display: flex;
        justify-content: center;

        li {
            background-color: #ffffff;
            border: 3px solid $color-sub-lightGray;
            border-radius: 50px;
            font-size: $font-size-22;
            font-weight: bold;
            margin: 0 20px;
            cursor: pointer;

            .tab-btn {
                font-size: 22px;
                padding: 10px 20px;
                background: transparent;
                transition: 0.5s;

                &:hover {
                    background-color: #e8e8e8;
                    color: #000;
                    border-radius: 50px;
                }

                &.active {
                    font-size: $font-size-22;
                    background-color: $color-primary-blue;
                    border-radius: 50px;
                    color: #ffffff;
                }
            }
        }
    }
}