
// primary
$color-primary-blue: #5082FF;
$color-primary-white: #FFFFFF;

//sub
$color-sub-lightGray: #D9D9D9;
$color-sub-gray: #7C7C7C;
$color-sub-lightblue: #B3C7FD;
$color-sub-pink: #FAB4F0;
$color-sub-lightYellow: #FFFDE2;
$color-sub-yellow: #FFF55F;
$color-sub-black: #000000;
