@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

/* RESET  END*/
/* 頁首區 */
#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 0 70px;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 800;
}
#topBar .logo {
  min-width: 100px;
}
#topBar .navigation {
  display: flex;
}
#topBar .navigation .menu {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2.5px rgba(0, 0, 0, 0.8) solid;
  border-radius: 30px;
  padding: 0 20px 0 20px;
}
#topBar .navigation .menu a {
  position: relative;
  margin: 0px;
  padding: 0px 20px 0px 20px;
  transition: 0.2s;
}
#topBar .navigation .menu .a_about::after {
  content: "關於放飲";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 900;
  color: transparent;
  transition: color 0.2s;
}
#topBar .navigation .menu .a_about:hover::after {
  color: #000000;
}
#topBar .navigation .menu .a_about:hover {
  color: transparent;
}
#topBar .navigation .menu .a_menu::after {
  content: "飲品菜單";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: transparent;
  transition: color 0.2s;
}
#topBar .navigation .menu .a_menu:hover::after {
  color: #000000;
}
#topBar .navigation .menu .a_menu:hover {
  color: transparent;
}
#topBar .navigation .menu .a_fresh::after {
  content: "嚴選食材";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: transparent;
  transition: color 0.2s;
}
#topBar .navigation .menu .a_fresh:hover::after {
  color: #000000;
}
#topBar .navigation .menu .a_fresh:hover {
  color: transparent;
}
#topBar .navigation .menu .a_store::after {
  content: "門市據點";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: transparent;
  transition: color 0.2s;
}
#topBar .navigation .menu .a_store:hover::after {
  color: #000000;
}
#topBar .navigation .menu .a_store:hover {
  color: transparent;
}
#topBar .navigation .menu .a_search::after {
  content: "訂單查詢";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: transparent;
  transition: color 0.2s;
}
#topBar .navigation .menu .a_search:hover::after {
  color: #000000;
}
#topBar .navigation .menu .a_search:hover {
  color: transparent;
}
#topBar .funLab {
  margin-left: 20px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px rgba(0, 0, 0, 0.8) solid;
  border-radius: 30px;
  background-color: #FFF55F;
  transition: 0.3s;
}
#topBar .funLab img {
  width: 43px;
}
#topBar .funLab:hover {
  background-color: #FFFFFF;
  color: #FFF55F;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@media (min-width: 1024px) {
  #topBar .hamburger {
    display: none;
  }
}
@media (max-width: 1023px) {
  #topBar {
    align-items: start;
    padding: 20px;
  }
  #topBar .logo {
    margin-top: 13px;
    margin-left: 15px;
  }
  #topBar .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #topBar .navbar .hamburger {
    /*  修改button預設樣式  */
    background-color: transparent;
    border: none;
  }
  #topBar .navbar .hamburger .Rotate.active {
    transform: rotate(45deg);
  }
  #topBar .navbar .hamburger .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  #topBar .navbar .hamburger .top {
    stroke-dasharray: 40 160;
  }
  #topBar .navbar .hamburger .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  #topBar .navbar .hamburger .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  #topBar .navbar .hamburger .active .top {
    stroke-dashoffset: -64px;
  }
  #topBar .navbar .hamburger .active .middle {
    transform: rotate(90deg);
  }
  #topBar .navbar .hamburger .active .bottom {
    stroke-dashoffset: -64px;
  }
  #topBar .navbar .navigation {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    align-items: end;
    border-radius: 10px;
    transition: opacity 0.8s ease, visibility 0.8s ease;
  }
  #topBar .navbar .navigation.show {
    opacity: 1;
    visibility: visible;
    animation: show 1s both;
  }
  #topBar .navbar .navigation .menu {
    flex-direction: column;
    padding: 8px;
    margin-bottom: 20px;
  }
  #topBar .navbar .navigation .menu a {
    margin: 10px;
  }
}
@media (max-width: 640px) {
  #topBar .logo {
    width: 100px;
  }
  #topBar .Rotate {
    width: 60px;
  }
}/*# sourceMappingURL=Navbar.module.css.map */