@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

/* RESET  END*/
/* 頁首 */
#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 0 70px;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

/* Logo */
.logo img {
  width: 10vw;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center logo */
}

/* Navigation container */
.navigation {
  display: flex;
  /* Individual menu items (links) */
  /* Hover effects */
}
.navigation .menu {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2.5px rgba(0, 0, 0, 0.8) solid;
  border-radius: 30px;
  padding: 0 20px;
}
.navigation a {
  position: relative;
  margin: 0;
  padding: 0 20px;
  transition: all 0.3s ease;
  text-decoration: none; /* Remove underline */
}
.navigation .a_story::after,
.navigation .a_menu::after,
.navigation .a_fresh::after,
.navigation .a_store::after,
.navigation .a_search::after {
  content: attr(data-title);
  position: absolute;
  left: 20%;
  top: 10%;
  font-size: 0.875rem;
  color: transparent;
  transition: color 0.2s;
}
.navigation a:hover::after {
  color: #000000;
}
.navigation a:hover {
  color: transparent;
}
.navigation .a_story::after {
  content: "關於放飲";
}
.navigation .a_menu::after {
  content: "飲品菜單";
}
.navigation .a_fresh::after {
  content: "嚴選食材";
}
.navigation .a_store::after {
  content: "門市據點";
}
.navigation .a_search::after {
  content: "訂單查詢";
}

/* FunLab (Right Section) */
.funLab {
  margin-left: 20px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px rgba(0, 0, 0, 0.8) solid;
  border-radius: 30px;
  background-color: #FFF55F;
  transition: 0.3s ease;
}
.funLab img {
  width: 43px;
}
.funLab:hover {
  background-color: #FFFFFF;
  color: #FFF55F;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}/*# sourceMappingURL=Navbar.module.css.map */