@use "../styles/abstracts/variables/color" as *;
@use "../styles/abstracts/variables/basic" as *;
@use "../styles/base/reset" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 頁首 */
#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 0 70px;
    font-family: $font-family-en;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

/* Logo */
.logo img{
    width: 10vw;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;  /* Center logo */
}


/* Navigation container */
.navigation {
    display: flex;

    .menu {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        border: 2.5px rgba(0, 0, 0, 0.8) solid;
        border-radius: 30px;
        padding: 0 20px;
    }

    /* Individual menu items (links) */
    a {
        position: relative;
        margin: 0;
        padding: 0 20px;
        transition: all 0.3s ease;
        text-decoration: none; /* Remove underline */
    }

    .a_story::after,
    .a_menu::after,
    .a_fresh::after,
    .a_store::after,
    .a_search::after {
        content: attr(data-title);
        position: absolute;
        left: 20%;
        top: 10%;
        font-size: 0.875rem;
        color: transparent;
        transition: color 0.2s;
    }

    /* Hover effects */
    a:hover::after {
        color: $color-sub-black;
    }

    a:hover {
        color: transparent;
    }

    .a_story::after { content: "關於放飲"; }
    .a_menu::after { content: "飲品菜單"; }
    .a_fresh::after { content: "嚴選食材"; }
    .a_store::after { content: "門市據點"; }
    .a_search::after { content: "訂單查詢"; }
}

/* FunLab (Right Section) */
.funLab {
    margin-left: 20px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px rgba(0, 0, 0, 0.8) solid;
    border-radius: 30px;
    background-color: $color-sub-yellow;
    transition: 0.3s ease;

    img {
        width: 43px;
    }

    &:hover {
        background-color: $color-primary-white;
        color: $color-sub-yellow;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}
