@keyframes goToFunlabAnime{
    100%{transform: rotate(360deg);}
}

//出現
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//消失
@keyframes hide {
    from {
        opacity: 1;
        display: flex;
    }

    to {
        opacity: 0;
        display: none;
    }
}

//跑馬燈
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}