@use "../../styles/abstracts/variables/color" as *;
@use "../../styles/abstracts/variables/basic" as *;
@use "../../styles/base/reset" as *;


html {
    scroll-behavior: smooth;
    font-family: $font-family-ch;
    background-image: linear-gradient(white 60%, #D9E2FB 100%);
}

/* Title Section */
.title {
    h1 {
        padding-top: 20vh;
        font-family: $font-family-en-title;
        color: $color-primary-blue;
        font-size: $font-size-96;
        text-align: center;
        margin: 4vh;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
    font-family: $font-family-ch;
}
.greeting {
    font-family: $font-family-ch;
    text-align: center;
    margin: 20px 0;
    font-size: $font-size-20;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Current Order Section */
.now {
    display: block;
    padding: 20px 260px 10vh;
    height: 100%;
    max-height: fit-content;

    h2 {
        font-size: $font-size-32;
        font-weight: bold;
        background-color: $color-sub-lightblue;
        text-align: center;
        padding: 6px;

    }

    .nowContent {
        border: 4px solid;
        border-color: $color-sub-lightblue;
        height: auto;
        padding: 20px;

        .orderInfo {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .orderInfoL {
                display: flex;
                align-items: center;
                gap: 40px;
                padding: 10px 0;
            }

            .condition {
                border: 2px solid #000;
                padding: 2px 10px;
                margin: 2px;
                font-weight: 600;
                background-color: $color-sub-yellow;
            }

            .date {
                margin-left: auto;
                text-align: right;
            }
        }

        .table {


            table {
                border-collapse: collapse;
                table-layout: auto;
                width: 100%;
                padding: 20px;

                th,
                td {
                    padding: 12px 0;
                    text-align: left;
                }

                td {
                    border-top: 2px solid #000;
                    border-bottom: 2px solid #000;
                }

                th {
                    font-weight: bold;
                }

                th,
                td {

                    &.name,
                    &.content,
                    &.store {
                        width: 250px;
                    }

                    &.price {

                        text-align: right;
                    }
                }
            }

            .total {
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                padding: 10px 0;
            }
        }
    }
}

/* Divider Section */


#custom-hr {
    margin: 10px 260px;
    height: 0.5vh;
    border: none;
    height: 4px;
    background: repeating-linear-gradient(to right,
            black 0,
            black 16px,
            transparent 10px,
            transparent 30px);

}

/* Past Orders Section */
.pastWrap {
    padding: 10vh 0;

    .pastOrder {
        padding: 0 260px 20px;

        h2 {
            font-size: $font-size-32;
            font-weight: bold;
            background-color: $color-sub-lightGray;
            text-align: center;
            padding: 6px;
        }
    }

    .past {
        padding: 0 260px 20px;

        .pastContent {
            .orderInfo {
                display: flex;
                align-items: baseline;
                padding: 0 20px;
                background-color: $color-sub-lightGray;

                .orderInfoL {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    padding: 10px 0;

                }

                .condition {
                    border: 2px solid #000;
                    padding: 2px 10px;
                    margin: 2px;
                    font-weight: 600;
                    background-color: $color-sub-pink;
                }

                .date {
                    margin-left: auto;
                    text-align: right;
                }
                .iconExpand{
                    margin-left: 10px;
                }
            }
        }

        .table {
            border: 4px solid;
            border-color: $color-sub-lightGray;
            padding: 0 20px;

            table {
                padding: 20px;
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
            }

            td {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                padding: 12px 0;
            }

            th {
                padding: 10px 0;
                font-weight: bold;

            }

            th,
            td {

                &.name,
                &.content,
                &.store {
                    width: 250px;
                    text-align: left;
                }

                &.price {
                    text-align: right;
                }
            }

            .total {
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                padding: 10px 0;
            }
        }

        .hidden {
            visibility: hidden;
        }

        .all {
            padding: 20px;
        }
    }
}

/* Expand/Collapse Button */
.iconExpand {
    cursor: pointer;
    font-size: $font-size-18;

    :hover {
        color: black;
    transition: .5s ease-in-out;
    }
    :active {
    transition: 1s ease-in-out;
    }
}