@use "../../styles/abstracts/variables/color" as *;
@use "../../styles/abstracts/variables/basic" as *;
@use "../../styles/base/reset" as *;

/* Title Section */
.title {
    h1 {
        padding-top: 20vh;
        font-size: $font-size-48;
        font-weight: bold;
        text-align: center;
    }
}

/* Common Styles for Headers, Paragraphs, and Tables */
h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
    font-family: $font-family-ch;
}

/* Current Order Section */
.now {
    display: block;
    padding : 20px 260px 30px;
    height: 100%;
    max-height:fit-content;

    h2 {
        font-size: $font-size-32;
        font-weight: bold;
        background-color: $color-sub-lightblue;
        text-align: center;
        padding: 6px;
        max-height: 10vh;

    }

    .nowContent {
        border: 4px solid;
        border-color: $color-sub-lightblue;
        height: auto;
        padding: 20px;

        .orderInfo {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .orderInfoL {
                display: flex;
                align-items: center;
                gap: 40px;
                padding: 10px 0;
            }

            .condition {
                border: 2px solid #000;
                padding: 2px 10px;
                margin: 2px;
                font-weight: 600;
                background-color: $color-sub-yellow;
            }

            .date {
                margin-left: auto;
                text-align: right;
            }
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;

            th,
            td {
                padding: 12px;
                text-align: left;
            }

            td {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
            }

            th {
                font-weight: bold;
            }

            th,
            td {

                &.name,
                &.content,
                &.store {
                    width: 250px;
                }

                &.price {
                    text-align: right;
                }
            }
        }

        .total {
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;
            padding: 10px 0;
        }
    }
}

/* Divider Section */
.divider {
    margin: 10px 260px;
    height: 0.5vh;

    .custom-hr {
        border: none;
        height: 4px;
        background: repeating-linear-gradient(to right,
                black 0,
                black 16px,
                transparent 10px,
                transparent 30px);
    }
}

/* Past Orders Section */
.pastWrap {
    .pastOrder {
        padding: 0 260px;

        h2 {
            font-size: $font-size-32;
            font-weight: bold;
            background-color: $color-sub-lightGray;
            text-align: center;
            padding: 6px;
        }
    }

    .past {
        padding: 0 260px;

        .pastContent {
            .orderInfo {
                display: flex;
                align-items: baseline;
                padding: 0 20px;
                background-color: $color-sub-lightGray;

                .orderInfoL {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    padding: 10px 0;
                }

                .condition {
                    border: 2px solid #000;
                    padding: 2px 10px;
                    margin: 2px;
                    font-weight: 600;
                    background-color: $color-sub-pink;
                }

                .date {
                    margin-left: auto;
                    text-align: right;
                }

                img {
                    padding: 6px;
                    width: 4.5%;
                    align-self: center;
                }
            }
        }

        .table {
            border: 4px solid;
            border-color: $color-sub-lightGray;
            padding: 0 20px;

            table {
                padding: 20px;
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
            }

            td {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                padding: 12px 0;
            }

            th {
                padding: 10px 0;
                font-weight: bold;
            }

            th,
            td {

                &.name,
                &.content,
                &.store {
                    text-align: left;
                    width: max-content;
                    padding-right: 10px;
                }

                &.price {
                    text-align: right;
                }
            }

            .total {
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                padding: 10px 0;
            }
        }

        .hidden {
            visibility: hidden;
        }

        .all {
            padding: 20px;
        }
    }
}

/* Expand/Collapse Button */
.iconExpand {
    cursor: pointer;
    font-size: 20px;
}

/* All Orders Section */
#all {
    padding: 60px;
    background-color: beige;
}