@use "/src/styles/abstracts/variables/color" as *;
@use "/src/styles/abstracts/variables/basic" as *;
@use "/src/styles/base/reset" as *;



/*標題*/
section.h2 {
    padding: 300px;
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center-align all items horizontally */

    h2 {
        padding: 10px 200px;


        img {
            display: block;
            margin: 0 auto;
            /* Center image */
            width: 30vw;
        }
    }

    /*訂單查詢區*/
    .search {
        display: block;
        width: 30vw;
        font-size: $font-size-16;
        padding: 40px 0;

        h4 {
            padding: 10px 0;
        }

        #type {
            width: 30vw;
            height: 5vh;
            border: 2px solid $color-sub-lightGray;

        }

    }

    .submit {
        border: 2px solid;
        font-size: $font-size-16;
        font-weight: bold;
        padding: 8px;
        width: 6vw;
        border-radius: 50px;
        background-color: #5182ffb0;
        border-color: $color-primary-blue;
        color: white;
        cursor: pointer;
        transition: 0.5s;
    }

    .submit:hover {
        background-color: #BCCEFF;
    }

}