@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans+TC:wght@100..900&display=swap");
/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

/* RESET  END*/
@keyframes goToFunlabAnime {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes flash {
  0% {
    filter: brightness(100%) saturate(100%);
  }
  50% {
    filter: brightness(300%) saturate(50%);
  }
  100% {
    filter: brightness(100%) saturate(100%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@property --val {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
@property --e {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
#DIY {
  position: relative;
  width: 100%;
  height: 100vh;
}
#DIY.flash {
  animation: flash 0.4s ease-in;
}
#DIY .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#panel {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  height: 80vh;
  padding: 3%;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
#panel .bg {
  object-fit: contain;
  height: fit-content;
}
#panel #sugarIceArea {
  display: flex;
  align-items: start;
  margin-left: 2%;
  margin-top: 2%;
}
#panel #sugarIceArea #guidedbar {
  width: 30%;
  padding-top: 10px;
}
#panel #sugarIceArea #barButtonAlign {
  display: flex;
  flex-direction: column;
}
#panel #sugarIceArea #buttonSet,
#panel #sugarIceArea #barSet {
  display: flex;
  align-items: center;
}
#panel #sugarIceArea #honeyBtn {
  margin-right: 20px;
  display: block;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  color: white;
  border: 2px solid rgb(230, 150, 66);
  background-color: #ffc250;
  width: 72px;
  height: 44px;
  box-shadow: 0 4px 0 rgb(230, 150, 66);
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
}
#panel #sugarIceArea #honeyBtn:hover {
  background-color: #ffbe46;
  border: 2px solid rgba(230, 150, 66, 0.8);
  text-shadow: 0 -1px -1px #ffbe46;
  box-shadow: 0 4px 0 rgba(230, 150, 66, 0.8), 0 2px 5px 0px white inset;
}
#panel #sugarIceArea #honeyBtn.active {
  color: #c37e35;
  transform: translateY(2px);
  box-shadow: 0 1px 0px 3px rgba(230, 150, 66, 0.4) inset;
  background-color: #ffc250;
}
#panel #sugarIceArea #hotBtn {
  display: block;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid #EE6060;
  background-color: #FF816A;
  width: 72px;
  height: 44px;
  box-shadow: 0 4px 0 #EE6060;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
}
#panel #sugarIceArea #hotBtn:hover {
  background-color: #ff9481;
  border: 2px solid rgba(238, 96, 96, 0.8);
  text-shadow: 0 -1px -1px #ff9481;
  box-shadow: 0 4px 0 rgba(238, 96, 96, 0.8), 0 2px 5px 0px white inset;
}
#panel #sugarIceArea #hotBtn.active {
  color: #8A1010;
  transform: translateY(2px);
  box-shadow: 0 1px 0px 3px rgba(238, 96, 96, 0.4) inset;
  background-color: #FF816A;
}
#panel #sugarIceArea label {
  --c: #5082FF;
  --bar-width: 30px;
  --bar-height: 296px;
  position: relative;
  width: var(--bar-width);
  height: var(--bar-height);
  background: white;
  border: 4px solid var(--c);
  border-radius: 30px;
  padding: 0;
  display: inline-block;
}
#panel #sugarIceArea label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: black;
  opacity: 0.05;
  border-radius: 0 12.85px 12.85px 0;
  pointer-events: none;
}
#panel #sugarIceArea label.disabled {
  --c: #ACACAC;
  border-color: #ACACAC;
}
#panel #sugarIceArea input {
  width: 400px;
  height: var(--s);
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  appearance: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
}
#panel #sugarIceArea input:focus-visible,
#panel #sugarIceArea input:hover {
  --p: 25%;
}
#panel #sugarIceArea input:active,
#panel #sugarIceArea input:focus-visible {
  --_b: var(--s);
}
#panel #sugarIceArea input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--bar-height);
  height: var(--bar-width);
  margin: 0;
  background: transparent;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 1;
}
#panel #sugarIceArea input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
}
#panel #sugarIceArea input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  background: url("/images/DIY/bar-icon-ice.svg") center/contain no-repeat;
  cursor: pointer;
  transform: translateY(-50%) rotate(90deg);
  margin-top: calc(var(--bar-width) / 2);
  position: relative;
  z-index: 2;
}
#panel #sugarIceArea input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
}
#panel #sugarIceArea input[type=range]::-moz-range-thumb {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 0;
  background: url("/images/DIY/bar-icon-ice.svg") center/contain no-repeat;
  cursor: pointer;
  transform: rotate(90deg);
  position: relative;
  z-index: 2;
}
#panel #sugarIceArea input[type=range].disabled {
  cursor: not-allowed;
}
#panel #sugarIceArea input[type=range].disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}
#panel #sugarIceArea input[type=range].disabled::-moz-range-thumb {
  cursor: not-allowed;
}
#panel #sugarIceArea .ice-level {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #B7EFFF;
  border-radius: 20px;
  pointer-events: none;
  transition: height 0.2s ease;
}
#panel #sugarIceArea .ice-level.disabled {
  background: #c7c7c7;
}
#panel #sugarIceArea .sugar-level {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #FAB4F0;
  border-radius: 20px;
  pointer-events: none;
  transition: height 0.2s ease;
}
#panel #sugarIceArea .sugar-level.disabled {
  background: #c7c7c7;
}
#panel #sugarIceArea .snap-slider::-webkit-slider-thumb {
  transition: all 0.1s ease-out;
}
#panel #sugarIceArea .snap-slider::-moz-range-thumb {
  transition: all 0.1s ease-out;
}
#panel #sugarIceArea .slider-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 43px 0 22px;
  position: relative;
  overflow: visible;
}
#panel #sugarIceArea input[type=range]#ingredient1::-webkit-slider-thumb {
  background: url("/images/DIY/bar-icon-ice.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient1.disabled::-webkit-slider-thumb {
  background: url("/images/DIY/bar-icon-ice-off.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient1::-moz-range-thumb {
  background: url("/images/DIY/bar-icon-ice.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient1.disabled::-moz-range-thumb {
  background: url("/images/DIY/bar-icon-ice-off.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient2::-webkit-slider-thumb {
  background: url("/images/DIY/bar-icon-sugar.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient2.disabled::-webkit-slider-thumb {
  background: url("/images/DIY/bar-icon-sugar-off.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient2::-moz-range-thumb {
  background: url("/images/DIY/bar-icon-sugar.svg") center/contain no-repeat;
}
#panel #sugarIceArea input[type=range]#ingredient2.disabled::-moz-range-thumb {
  background: url("/images/DIY/bar-icon-sugar-off.svg") center/contain no-repeat;
}
#panel #showDrinkArea {
  position: relative;
  margin-top: 1%;
  width: 400px;
}
#panel #showDrinkArea .reflect {
  position: absolute;
  top: 5%;
  left: 6.5%;
  width: 200px;
  z-index: 3;
}
#panel #showDrinkArea #showDrink {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 60%;
}
#panel #showDrinkArea #showDrink .drinkcap {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 1;
}
#panel #showDrinkArea #showDrink .drinkcap2 {
  position: absolute;
  top: -10%;
  left: 0;
}
#panel #showDrinkArea #showDrink .liquid {
  position: absolute;
  top: 0%;
  left: 2.2%;
  width: 95%;
  height: 110%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  clip-path: path("M-3.68362e-06 23.3945L20.9731 200.342C20.9731 212.481 49.4995 218 76.0092 218C102.501 218 131.027 212.481 131.027 200.342L152 23.3945C148.535 38.586 110.989 45.5428 76.0092 45.5428C41.0112 45.5428 3.46496 38.586 -3.68362e-06 23.3945Z M152 24.3937C152 7.64184 112.602 0 76 0C39.3797 0 0 7.64184 0 24.3937C0 41.1456 39.3979 48.7874 76 48.7874C112.602 48.7874 152 41.1633 152 24.3937Z");
}
#panel #showDrinkArea #showDrink .cupIngredients {
  position: absolute;
  bottom: 0;
  left: 15%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 3px;
}
#panel #orderArea {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 300px;
}
#panel #orderArea .orderDetails .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#panel #orderArea .orderDetails .orderDetailText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding: 20px 40px;
}
#panel #orderArea .orderDetails h3 {
  font-family: "Noto Sans TC";
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 5px;
}
#panel #orderArea .orderDetails .sugarIceText {
  display: flex;
}
#panel #orderArea .orderDetails .sugarIceText p {
  font-family: "Noto Sans TC";
  margin-right: 10px;
}
#panel #orderArea .orderDetails .orderDetailTextAlign {
  display: flex;
  justify-content: space-between;
}
#panel #orderArea .orderDetails .orderDetailTextAlign .text {
  font-family: "Noto Sans TC";
}
#panel #orderArea .orderDetails .orderDetailTextAlign .price {
  font-family: "Mulish";
}
#panel #orderArea .orderDetails .borderArea {
  align-self: center;
  width: 110%;
  height: 10px;
  border-bottom: 1.5px solid black;
}
#panel #orderArea .orderDetails .total {
  align-self: self-end;
  margin-top: 2px;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 1.6rem;
}
#panel #orderArea .orderDetails .inputName {
  position: absolute;
  bottom: 27%;
  width: 100%;
  padding: 0 40px;
}
#panel #orderArea .orderDetails .inputName input {
  font-family: "Noto Sans TC";
  font-size: 0.875rem;
  padding: 5px 12px;
  border-radius: 5px;
  color: #000000;
  border: #D9D9D9 1px solid;
}
#panel #orderArea .orderDetails .inputName input::placeholder {
  color: #D9D9D9;
}
#panel #orderArea .orderButton {
  display: flex;
}
#panel #orderArea .orderButton .resetBtn {
  display: block;
  border: 2px solid #5082FF;
  background-color: #FFFFFF;
  border-radius: 99px;
  width: 70px;
  height: 70px;
  box-shadow: 0 6px 0 #5082FF;
  transition: all 0.1s ease-in-out;
  margin: 10px 20px 0 0;
  padding-left: 2.5%;
  cursor: pointer;
}
#panel #orderArea .orderButton .resetBtn img {
  width: 90%;
}
#panel #orderArea .orderButton .resetBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(80, 130, 255, 0.8);
  box-shadow: 0 6px 0 rgba(80, 130, 255, 0.8), 0 2px 5px 0px white inset;
}
#panel #orderArea .orderButton .resetBtn:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #5082FF, 0 0.5px 0px 2px rgba(156, 156, 156, 0.25) inset;
  background-color: rgba(152, 152, 152, 0.2);
}
#panel #orderArea .orderButton .randomBtn {
  display: block;
  border: 2px solid #5082FF;
  background-color: #FFFFFF;
  border-radius: 99px;
  width: 70px;
  height: 70px;
  box-shadow: 0 6px 0 #5082FF;
  transition: all 0.1s ease-in-out;
  margin: 10px 20px 0 0;
  padding-left: 4%;
  cursor: pointer;
}
#panel #orderArea .orderButton .randomBtn img {
  width: 82%;
}
#panel #orderArea .orderButton .randomBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(80, 130, 255, 0.8);
  box-shadow: 0 6px 0 rgba(80, 130, 255, 0.8), 0 2px 5px 0px white inset;
}
#panel #orderArea .orderButton .randomBtn:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #5082FF, 0 0.5px 0px 2px rgba(156, 156, 156, 0.25) inset;
  background-color: rgba(152, 152, 152, 0.2);
}
#panel #orderArea .orderButton .doneBtn {
  display: block;
  font-family: "Mulish";
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid #9E9E9E;
  background-color: #C6C6C6;
  border-radius: 18px;
  width: 118px;
  height: 66px;
  box-shadow: 0 8px 0 #777777;
  transition: all 0.1s ease-in-out;
  margin-top: 10px;
  cursor: not-allowed;
}
#panel #orderArea .orderButton .doneBtn.active {
  color: #5082FF;
  border: 2px solid #5082FF;
  background-color: #FFF55F;
  box-shadow: 0 8px 0 #5082FF;
  cursor: pointer;
}
#panel #orderArea .orderButton .doneBtn.active:hover {
  background-color: rgba(255, 245, 95, 0.8);
  border: 2px solid rgba(80, 130, 255, 0.8);
  box-shadow: 0 8px 0 rgba(80, 130, 255, 0.8), 0 2px 5px 0px white inset;
}
#panel #orderArea .orderButton .doneBtn.active:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 #5082FF, 0 2px 0px 3px #D9CD19 inset;
  background-color: #EEE668;
}

#action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#action .actionbg {
  position: relative;
  z-index: 1;
}
#action .tabArea {
  position: absolute;
  top: -32%;
  left: 0;
  z-index: 0;
  width: 100%;
}
#action .tabArea .tabAlign {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
#action .tabArea .tabAlign .tab-button {
  width: 17%;
  height: 100px;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: transform 0.2s ease;
}
#action .tabArea .tabAlign .tab-button.active {
  transform: translateY(-15%);
}
#action .carousel {
  position: absolute;
  z-index: 2;
  bottom: 15%;
  left: 14%;
  width: 75%;
  display: none;
}
#action .carousel .slick-slider {
  width: 100%;
  margin: 0 auto;
}
#action .carousel .slick-list {
  width: 100%;
}
#action .carousel1 {
  display: block;
}
#action .carousel1 .item {
  padding-top: 0.5%;
}
#action .carousel2 {
  display: none;
}
#action .carousel3 {
  display: none;
}
#action .carousel3 .item {
  padding-top: 0.15%;
}
#action .carousel4 {
  display: none;
}
#action .carousel4 .item {
  padding-top: 0.1%;
}
@media (max-width: 1376px) {
  #action .carousel1 {
    bottom: 0;
  }
  #action .carousel3 {
    bottom: 0;
  }
}
#action .slick-arrow {
  display: block;
  border: none;
  background-color: #FFFFFF;
  border-radius: 99px;
  width: 70px;
  height: 70px;
  box-shadow: 0 8px 0 #5082FF;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
#action .slick-arrow img {
  width: 100%;
}
#action .slick-arrow:hover {
  background-color: rgb(241, 241, 241);
  box-shadow: 0 8px 0 rgba(80, 130, 255, 0.8), 0 2px 5px 0px white inset;
}
#action .slick-arrow:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #5082FF, 0 2px 0px 0px rgba(156, 156, 156, 0.25) inset;
  background-color: rgba(152, 152, 152, 0.2);
}
#action .slick-prev {
  position: absolute;
  padding: 0 20px 0 18px;
  top: -5%;
  left: -11%;
  transform: translateY(0);
}
#action .slick-prev:before {
  display: none;
}
#action .slick-next {
  position: absolute;
  top: -5%;
  right: -7%;
  padding: 0 18px 0 20px;
  transform: translateY(0);
}
#action .slick-next:before {
  display: none;
}
#action .item {
  position: relative;
  width: 80%;
  transition: all 0.8s ease;
  padding: 5px;
}
#action .item img {
  position: relative;
  object-fit: cover;
  width: 30%;
  height: fit-content;
  transition: transform 0.8s ease;
}
#action .item:hover {
  cursor: pointer;
}
#action .item:hover img {
  transform: rotate(-10deg);
}
#action .itemAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}
#action .itemText {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-family: "Noto Sans TC";
  color: #303030;
}
#action .itemText h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}
#action .itemText h3 span {
  font-family: "Mulish";
  font-size: 1rem;
}

#orderConfirm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, rgba(21, 21, 21, 0.65), rgba(68, 68, 68, 0.65));
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#orderConfirm.show {
  opacity: 1;
  visibility: visible;
}
#orderConfirm .orderDownload {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 415px;
  height: 555px;
  opacity: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#orderConfirm .orderDownload.screenshot-mode #showDrink .drinkcap,
#orderConfirm .orderDownload.screenshot-mode #showDrink .drinkcap2 {
  display: none;
}
#orderConfirm .orderDownload .drinkScreenshot {
  align-self: center;
  width: 350px;
  height: 360px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#orderConfirm .orderDownload .drinkScreenshot img {
  width: 350px;
  height: 360px;
  object-fit: contain;
  transform: scale(1);
}
#orderConfirm .orderDownload .drinkText {
  margin-left: 30px;
}
#orderConfirm .orderDownload .drinkName {
  margin-top: 10px;
  width: 350px;
  font-family: "Noto Sans TC";
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
#orderConfirm .orderDownload .drinkDetail {
  width: 350px;
  margin-top: 5px;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-weight: 400;
  color: #7C7C7C;
}
#orderConfirm .orderDownloadBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
}
#orderConfirm .orderDownloadBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #5082FF;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.375rem;
  font-weight: 600;
  border-radius: 30px;
  border: none;
}
#orderConfirm .orderDownloadBtn button:hover {
  animation: rotate 0.7s ease-in-out both;
}
#orderConfirm .orderDownloadBtn button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
#orderConfirm .closeBtn {
  position: absolute;
  top: 8%;
  right: 25%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderConfirm .closeBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderConfirm .closeBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#orderConfirm .closeBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}
#orderConfirm .shareBtn {
  position: absolute;
  top: 19%;
  right: 25%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderConfirm .shareBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderConfirm .shareBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#orderConfirm .shareBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}
#orderConfirm .orderBtn {
  position: absolute;
  top: 26%;
  right: 25%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderConfirm .orderBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderConfirm .orderBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#orderConfirm .orderBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}

#shareArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, rgba(21, 21, 21, 0.65), rgba(68, 68, 68, 0.65));
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#shareArea.show {
  opacity: 1;
  visibility: visible;
}
#shareArea .sharePanel {
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 465px;
  opacity: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#shareArea .sharePanel .drinkAlign {
  width: 425px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: start;
}
#shareArea .sharePanel .drinkScreenshot {
  width: 174px;
  height: 220px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#shareArea .sharePanel .drinkScreenshot img {
  width: 174px;
  height: 178px;
  object-fit: contain;
  transform: scale(1);
}
#shareArea .sharePanel .drinkText {
  height: 250px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#shareArea .sharePanel .drinkName {
  width: 150px;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
#shareArea .sharePanel .drinkDetail {
  margin-top: 20px;
  width: 150px;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-weight: 400;
  color: #7C7C7C;
}
#shareArea .sharePanel .shareBigText {
  font-family: "Noto Sans TC";
  font-size: 1.375rem;
  color: #000;
}
#shareArea .sharePanel .shareBtnDetail {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#shareArea .closeBtn {
  position: absolute;
  top: 13%;
  right: 22%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#shareArea .closeBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#shareArea .closeBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#shareArea .closeBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}
#shareArea .backBtn {
  position: absolute;
  top: 12%;
  left: 28%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#shareArea .backBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#shareArea .backBtn button img {
  margin: 0 auto;
  width: 35px;
  height: 35px;
}
#shareArea .backBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}

#orderDataArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, rgba(21, 21, 21, 0.65), rgba(68, 68, 68, 0.65));
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#orderDataArea.show {
  opacity: 1;
  visibility: visible;
}
#orderDataArea .orderPanel {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 700px;
  opacity: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#orderDataArea .orderPanel .drinkAlign {
  width: 425px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: start;
}
#orderDataArea .orderPanel .drinkScreenshot {
  width: 174px;
  height: 220px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#orderDataArea .orderPanel .drinkScreenshot img {
  width: 174px;
  height: 178px;
  object-fit: contain;
  transform: scale(1);
}
#orderDataArea .orderPanel .drinkText {
  height: 250px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#orderDataArea .orderPanel .drinkName {
  width: 150px;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
#orderDataArea .orderPanel .drinkDetail {
  margin-top: 20px;
  width: 150px;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-weight: 400;
  color: #7C7C7C;
}
#orderDataArea .orderPanel .orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#orderDataArea .orderPanel .orderForm .orderFormItem {
  height: 60px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#orderDataArea .orderPanel .orderForm .orderFormItem label {
  width: 100px;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
}
#orderDataArea .orderPanel .orderForm .orderFormItem input,
#orderDataArea .orderPanel .orderForm .orderFormItem select {
  width: 200px;
  height: 36px;
  border: 2px solid #AFB1B6;
  border-radius: 8px;
  padding: 0 10px;
  color: #404040;
}
#orderDataArea .orderPanel .orderForm .orderFormItem input::placeholder {
  font-family: "Noto Sans TC";
  font-size: 0.875rem;
  color: #61646B;
}
#orderDataArea .orderPanel .orderForm .orderFormItem optgroup {
  font-family: "Noto Sans TC";
}
#orderDataArea .orderPanel .orderForm .orderFormItem option {
  font-family: "Noto Sans TC";
  font-size: 0.875rem;
  color: #404040;
}
#orderDataArea .orderPanel .submitBtn {
  margin: 30px 0;
  width: 136px;
  height: 46px;
  background-color: #5082FF;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#orderDataArea .orderPanel .submitBtn:hover {
  background-color: #FFFFFF;
  color: #5082FF;
  border: 2px solid #5082FF;
}
#orderDataArea .orderPanel .submitBtn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#orderDataArea .orderPanel .submitBtn.active {
  opacity: 1;
  cursor: pointer;
}
#orderDataArea .closeBtn {
  position: absolute;
  top: 8%;
  right: 25%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderDataArea .closeBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderDataArea .closeBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#orderDataArea .closeBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}
#orderDataArea .backBtn {
  position: absolute;
  top: 8%;
  left: 31%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderDataArea .backBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderDataArea .backBtn button img {
  margin: 0 auto;
  width: 35px;
  height: 35px;
}
#orderDataArea .backBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}

#orderSuccess {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, rgba(21, 21, 21, 0.65), rgba(68, 68, 68, 0.65));
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#orderSuccess.show {
  opacity: 1;
  visibility: visible;
}
#orderSuccess .orderSuccessPanel {
  padding: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 560px;
  opacity: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#orderSuccess .orderSuccessPanel img {
  width: 200px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.8s ease-in forwards;
}
#orderSuccess .orderSuccessPanel .orderSuccessText {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#orderSuccess .orderSuccessPanel .orderSuccessText .title {
  font-family: "Noto Sans TC";
  font-size: 2.5rem;
  color: #6B6B6B;
}
#orderSuccess .orderSuccessPanel .orderSuccessText .text {
  font-family: "Noto Sans TC";
  font-size: 2rem;
  color: #6B6B6B;
}
#orderSuccess .orderSuccessPanel .orderNumber {
  font-family: "Mulish";
  font-size: 64px;
  color: #000000;
  font-weight: 800;
}
#orderSuccess .orderSuccessPanel .orderTrackBtn {
  position: relative;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  text-decoration: none;
}
#orderSuccess .orderSuccessPanel .orderTrackBtn a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  /* 初始寬度為 0 */
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease;
  /* 添加過渡效果 */
}
#orderSuccess .orderSuccessPanel .orderTrackBtn a:hover::after {
  width: 100%;
  /* 當滑鼠移到標題時，底線展開至全寬 */
}
#orderSuccess .reminderText {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  color: #FFFFFF;
}
#orderSuccess .closeBtn {
  position: absolute;
  top: 12%;
  right: 24%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
}
#orderSuccess .closeBtn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
#orderSuccess .closeBtn button img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}
#orderSuccess .closeBtn button:hover {
  transform: scale(1.1) translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */