@use "/src/styles/abstracts/variables/color" as *;
@use "/src/styles/abstracts/variables/basic" as *;
@use "/src/styles/base/reset" as *;


/*頁面標題*/


.page-title {
    font-family: $font-family-en-title;
    color: $color-primary-blue;
    font-size: $font-size-96;
    text-align: center;
    margin-top: 5vh;
}


/* 父層容器 */
.wrapper {
    height: 60vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 輪播的內容 */
.marquee {
    display: flex;
    width: calc(200% + 40px);
    /* Adjust width to account for the gaps */
    animation: scroll 50s linear infinite;
}

/* 單張圖片 */
.slide {
    flex: 0 0 auto;
    width: 100vw;
    /* 讓每個 slide 寬度等於整個視窗 */
    height: 60vh;
    /* 高度等於視窗高度 */
    margin-right: 8vw;
    /* Slide 間的間距 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.slide img {
    width: 100%;
    /* 圖片寬度滿足父層 */
    height: 100%;
    /* 圖片高度滿足父層 */
    object-fit: contain;
    /* 圖片等比例縮放，完整顯示 */
}

/* 輪播動畫定義 */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

// Media queries for responsiveness
@media (max-width: 768px) {
    .slide {
        height: 70vh;
    }
}

/*分組頁籤*/
.drinkListTab {
            font-family: $font-family-ch ;

    ul {
        display: flex;
        justify-content: center;

        li {
            background-color: #ffffff;
            border: 3px solid $color-sub-lightGray;
            border-radius: 50px;
            font-size: $font-size-22;
            font-weight: bold;
            margin: 0 20px;
            cursor: pointer;

            .tab-btn {
                font-family: $font-family-ch;
                font-weight: $font-weight-bold;
                font-size: $font-size-16;
                padding: 10px 20px;
                background: transparent;
                border: none;
                cursor: pointer;

                &.active {
                    background-color: $color-primary-blue;
                    border-radius: 50px;
                    color: #ffffff;
                }
            }
        }
    }
}

/*分組商品區*/
.productlist {
    min-height: 120vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* Add some spacing between items */
    z-index: 995;

    .product {
        margin: 40px;
        transition: all 0.4s ease-in-out;
        /* Smooth transition */

        &:hover {
            opacity: 0.9;
            /* Reduce opacity for a subtle effect */
        }
    }

    .drinkImage {
        transition: all 0.5s ease;

        &:hover {
            transform: rotateZ(5deg);
        }
    }

    .drinkText {
        position: relative;
        text-align: center;
        transition: opacity 0.5s ease;
        /* Transition for scaling and opacity */

        &::before {
            content: "";
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 10px;
            background-color: $color-sub-lightblue;
            /* Default blue color */
            opacity: 80%;
            z-index: 1;
            transition: background-color 0.5s ease;
            /* Smooth color transition */
        }

        &:hover {
            opacity: 0.9;
            /* Subtle opacity effect */


            &::before {
                background-color: $color-sub-pink;
                /* Change to pink */
            }
        }

        h2 {
            position: relative;
            font-weight: 500;
            z-index: 2;
        }

        p {
            height: auto;
        }
    }
}