// 間距
$interval-s: 10px;
$interval-m: 20px;
$interval-l: 50px;

$interval-x-s: 0 10px;

$interval-xy-l: 20px 50px;

// 速率
$speed-fast: 0.2s;

// 字級
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;
$font-size-72: 4.5rem;
$font-size-80: 5rem;
$font-size-96: 6rem;
$font-size-240: 15rem;

// 字體
$font-family-en: "Mulish";
$font-family-en-title: "Notable";
$font-family-ch: "Noto Sans TC";

// 字重
$font-weight-regular: 400;
$font-weight-bold: 800;


// 原本沒有! RWD斷點
//手機斷點
$mediaSm : 'max-width: 640px';
//手機以上斷點
$mediaSmUp : 'min-width: 641px';
//平板斷點
$mediaMd : 'max-width: 1023px';
//電腦斷點
$mediaLg : 'min-width: 1024px';